body {
    background-color: lightgrey;
    font-size: 14px;

}

legend {
    padding: 5px;
    margin: 10px;
    color: orangered;
    font-family: Tahoma;
    font-size: 250%;
    font-weight: bold;

}

#history {
    padding: 5px;
    margin-left: 20px;
}

#robotWelcome{
    padding: 5px;

    margin: 5px;

    text-align: center;
}


.headerlogo  {
    display: inline;
    margin: 0px;
    width: 150px;
    height: 150px;
    padding: 2px;
    border: 0px;
    padding: 5px;
    border: black 2px solid;
    margin: 10px;
    background-color: tomato;
}



#coffeeofthemonth {
    text-align: center;
    display: block;
    margin: 5px;
    width: 200px;
    padding: 2px;
    border: 0px;
    float: right;

}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;

}

#myUL {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: orangered;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#myUL li a:hover:not(.header) {
    background-color: coral;
}


.productarticlelargeimage {
    width: 200px;
}

#welcomeimage {
    display: block;
    width: 400px;
    height: 200px;
    padding: 5px;
    border: black 2px solid;
    margin: 25px;
    background-color: coral;

}



.backgroundgradient {
    font-size: 25px;
    height: 50px;
    background-color: orangered;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-around;
    padding: 2px;
    margin-bottom: 5px;



}

.backgroundgradient ul li {
    display: inline;
    height: 35px;
    margin: 25px 25px 25px 25px;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    padding: 5px 5px 5px 5px;
    vertical-align: middle;

}

.backgroundgradient ul {
    margin: 0px;
    list-style-type: none;
    display: block;
    padding: 0px;

}

.backgroundgradient a {
    text-decoration: none;
    padding: 10px;
    color: white;
    vertical-align: middle;
}

.backgroundgradient a:hover {
    color: black;
    background-color: white;
}

.navlink {
    background: #e7e7e7;
    border: 1px solid;
    border-radius: 3px;
    font: 700 14px Helvetica, Arial;
    height: 300px;
    line-height: 28px;
    padding: 0 20px;
    text-align: center;
    margin-right: 10px;
    box-sizing: border-box;
}

#headername {
    color: orangered;
    font-size: 300%;
    font-family: Georgia;
    font-weight: bold;
    margin-right: 0px;
    margin-top: 0px;
    padding: 5px;

}

.searchbox {
    background-color: coral;
    text-decoration-color: navy;
    width:500px;
    margin:10px ;
    float:right;
    top:-20px;
}

a:link {
    color: black;

}

a:visited {
    color: red;
}

a:hover {
    color: lightgrey;
    cursor: hand;
}

p mark {
    background-color: chartreuse;
    color: orangered;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

footer, footer address, p.samlltext {
    cursor: zoom-in;
}

p #address {
    padding: 5px;
}

footer {

    border: 0px;
    margin: 0px;
    height: 10px;
    clear: both;
    border-radius: 5px;
    color: coral;
    text-align: center;
    padding: 0px;
    font-size: 9px;
}


footer address {
    text-align: center;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 9px;


}

p.smalltext {
    font-size: 7.5px;
    margin: 0px;

}

#wrap {
    margin-left: auto;
    margin-right: auto;

    }

#leftcol {
    float: left;
    width: 50%;
    height: 350px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#leftcol::first-letter {
    font-weight: bold;
    font-size: 24px;
}

#rightcol {
    float: right;
    width: 50%;
    height: 350px;
    padding: 10px;
    text-align: center;
    cursor: pointer;

}


#welcometext {
    padding-top: 10px;
    margin-bottom: 0px;


}

#address {
    padding-top: 50px;
    margin-bottom: 0px;
}

.textcontent {
    margin-bottom: 0px;
}

.field {
    display: table-row;
    border-style: none;
    text-align: inherit;
    margin-left: 20px;
    font-size: medium;
    font-style: oblique;
    font-family: sans-serif;
}

.field label {
    display: table-cell;
    padding: 2px;
}

.field input {
    display: table-cell;
    padding: 2px;
}

#contactForm {
    color: white;
    display: table;
    padding: 15px;
    background-color: coral;
    border: solid 2px black;
    width: 800px;
    margin-top:10px;
    margin-bottom: 5px;
    margin-left: 15%;
    margin-right: 25%;

}

#legendRam {
    font-size: 100%;
}

#inputCPU {
    cursor: pointer;
}

.submitbutton {
    cursor: pointer;

}